body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
a         {text-decoration: none}
a:link    {color: #3d3d3d}
a:visited {color: black}
#menu-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: "Times New Roman", "fa6s", "fa6b";
}
.border-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    border-radius: 12px;
    color: #ffffff;
    background-image: linear-gradient(67.5deg, #578e7e, #3a3f3a);
    margin-top: 20px;
}
.content-wrapper {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 12px;
    color: #3d3d3d;
    background-color: #f5ecd5;
}
.content {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    height: calc(100% - 50px);
    width: calc(100% - 400px);
    padding: 0px 200px 0px 200px;
    overflow-y: scroll;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}